window {
    background-color: #dfe6e9; /* gris clair */
}

button {
    background-color: #1D4D7A; /* bleu */
    color: white;
    border-radius: 10px;
    font-weight: bold;
}

label {
    color: #2d3436;
    font-size: 14px;
}

